/** category visualization */

#cleaned {
   marker-fill-opacity: 0.9;
   marker-line-color: #FFF;
   marker-line-width: 0;
   marker-line-opacity: 1;
   marker-placement: point;
   marker-type: ellipse;
   marker-width: 6;
   marker-allow-overlap: true;
}

#cleaned[zoom<16] {
  marker-width:5;
}

#cleaned[zoom<15] {
  marker-width:4;
}

#cleaned[zoom<14] {
  marker-width:3;
}

#cleaned[zoom<13] {
  marker-width:2;
}
#cleaned[zoom<12] {
  marker-width:1;
}

#cleaned[agency="HPD"] {
   marker-fill: #A6CEE3;
}
#cleaned[agency="NYPD"] {
   marker-fill: #1F78B4;
}
#cleaned[agency="DOT"] {
   marker-fill: #B2DF8A;
}
#cleaned[agency="DEP"] {
   marker-fill: #33A02C;
}
#cleaned[agency="DSNY"] {
   marker-fill: #FB9A99;
}
#cleaned[agency="DOB"] {
   marker-fill: #E31A1C;
}
#cleaned[agency="DPR"] {
   marker-fill: #FDBF6F;
}
#cleaned[agency="DOHMH"] {
   marker-fill: #FF7F00;
}
#cleaned[agency="DOF"] {
   marker-fill: #CAB2D6;
}
#cleaned[agency="DHS"] {
   marker-fill: #6A3D9A;
}
#cleaned[agency="TLC"] {
   marker-fill: #f7ff00;
}
#cleaned[agency="HRA"] {
   marker-fill: #ff00d3;
}
#cleaned[agency="DCA"] {
   marker-fill: #00ceff;
}
#cleaned {
   marker-fill: #DDDDDD;
}